# Data Pre-Processing

## Introduction
We have already prepared the cleaned dataframe from the clustering phase so this can now be imported and split into seperate dataframes per use with our predictos Major Occupation and Education_Attainment. I will also perform one hot enconding on the selected columns for use with classification.

In [7]:
import pandas as pd

In [8]:
from scipy.io import arff
df = pd.read_csv('../resources/originalCleanedDataFrame.csv')
df.head(5)

,who,Actual_Time,Age,Community_Building,Community_Membership_Family,Community_Membership_Hobbies,Community_Membership_None,Community_Membership_Other,Community_Membership_Political,Community_Membership_Professional,...,Web_Ordering,Web_Page_Creation,Who_Pays_for_Access_Dont_Know,Who_Pays_for_Access_Other,Who_Pays_for_Access_Parents,Who_Pays_for_Access_School,Who_Pays_for_Access_Self,Who_Pays_for_Access_Work,Willingness_to_Pay_Fees,Years_on_Internet
0,93819,Consultant,41,Equally,0,0,1,0,0,0,...,Yes,Yes,0,0,0,0,1,0,Other_sources,1-3_yr
1,95708,College_Student,28,Equally,0,0,0,0,0,0,...,Yes,No,0,0,0,0,1,0,Already_paying,Under_6_mo
2,97218,Other,25,More,1,1,0,0,0,1,...,Yes,Yes,0,0,0,0,1,1,Other_sources,1-3_yr
3,91627,Salesperson,28,More,0,0,0,1,0,0,...,Yes,Yes,0,0,0,0,1,0,Already_paying,1-3_yr
4,49906,K-12_Student,17,More,0,0,0,0,1,1,...,Yes,Yes,0,0,0,0,1,0,Already_paying,1-3_yr

Next we want to prepare our two dataframe for Major Occupation versus Education_Attainment with the original feature selection options we used in the Clustering phase.

In [9]:
# Copy out original feature set for use with reading classification results later.
#educationFeatureSubset = df[['Education_Attainment', 'Age', 'Opinions_on_Censorship', 'Years_on_Internet', 'Web_Ordering', 'Marital_Status', 'Gender', 'Major_Geographical_Location', 'Race', 'Registered_to_Vote', 'Sexual_Preference']].copy()
# Copy out original feature set for use with reading classification results later.
#occupationFeatureSubset = df[['Major_Occupation','Age', 'Opinions_on_Censorship', 'Years_on_Internet', 'Web_Ordering', 'Marital_Status', 'Gender', 'Major_Geographical_Location', 'Race', 'Registered_to_Vote', 'Sexual_Preference']].copy()

educationFeatureSubset = df[['Education_Attainment', 'Age', 'Opinions_on_Censorship', 'Years_on_Internet', 'Web_Ordering', 'Marital_Status', 'Gender', 'Community_Building', 'Country']].copy()
occupationFeatureSubset = df[['Major_Occupation','Age', 'Opinions_on_Censorship', 'Years_on_Internet', 'Web_Ordering', 'Marital_Status', 'Gender', 'Community_Building', 'Country']].copy()

# Assign the index so that it matches that of the original df
educationFeatureSubset.set_axis(df.index, axis='index', inplace=True)
occupationFeatureSubset.set_axis(df.index, axis='index', inplace=True)

## Data Preparation for use in Classification

### Data Encoding
This section will prepare data by use of one hot encoding to convert all column values to numeric for use with classification algorithms.

In [10]:
# Import LabelEncoder
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()

#creating labelEncoder
le = preprocessing.LabelEncoder()

encodedOccupationFeatureSubset = occupationFeatureSubset[occupationFeatureSubset.columns.difference(['Major_Occupation'])].apply(le.fit_transform)
encodedOccupationFeatureSubset['Major_Occupation'] = pd.Series(occupationFeatureSubset['Major_Occupation'], index=encodedOccupationFeatureSubset.index)
encodedOccupationFeatureSubset.head(5)

encodedEducationFeatureSubset = educationFeatureSubset[educationFeatureSubset.columns.difference(['Education_Attainment'])].apply(le.fit_transform)
encodedEducationFeatureSubset['Education_Attainment'] = pd.Series(educationFeatureSubset['Education_Attainment'], index=encodedEducationFeatureSubset.index)
encodedEducationFeatureSubset.head(5)

,Age,Community_Building,Country,Gender,Marital_Status,Opinions_on_Censorship,Web_Ordering,Years_on_Internet,Education_Attainment
0,31,1,114,1,1,0,2,0,Masters
1,18,1,114,0,5,0,2,4,Some_College
2,15,3,31,1,3,3,2,0,College
3,18,3,41,0,3,0,2,0,College
4,7,3,88,1,5,0,2,0,High_School

We now have our data prepared both through selecting an interesting feature set, ensuring values are transformed to numeric values for use with the three classification algorithms and also prearing the new dataframe for analysis.

In [11]:
#EXPORT to CSV the original feature subset for use with reading classification results later in other algorithms.
encodedEducationFeatureSubset.to_csv('educationFeatureSubset.csv', encoding='utf-8')
encodedOccupationFeatureSubset.to_csv('occupationFeatureSubset.csv', encoding='utf-8')